input
 {
  width: 500px;
 }

 button
 {
  width: 500px;
  background-color: rgb(0, 0, 238);
  color: aliceblue;
 }

 form
 {
  align-content: center;
  align-items: center;
 }

 .box
 {
  align-items: center;
  background-color: azure;

 }
